Repository chilledwilba/home-server-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,md,yml,yaml}": [
    "biome format --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ]
}

fix: configure secure build script allowlist for better-sqlite3
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve SecurityScanner test failures
  src/services/security/scanner.ts
  tests/unit/services/security/scanner.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests

chore: migrate Husky hooks to v9 format
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

perf: optimize Husky hooks and add comprehensive documentation
  .husky/pre-push
  .lintstagedrc.json
  docs/AI-DEVELOPMENT.md
  scripts/check-file-sizes.js
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve test failures and resource leaks
  src/integrations/ollama/client.ts
  tests/unit/services/ai/insights-service.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests

docs: update task tracking files with resolved issues
  .claude-web-tasks/completed.md
  .claude-web-tasks/issues.md
  .claude-web-tasks/tasks.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement enterprise-grade database migration system (Priority 7)
  .claude-web-tasks/completed.md
  .claude-web-tasks/tasks.md
  docs/DATABASE_MIGRATIONS.md
  scripts/migrate.ts
  scripts/restore.ts
  src/db/backup.ts
  tests/integration/db/migrations.test.ts
  tests/unit/db/backup.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement automated dependency management with Renovate
  .claude-web-tasks/completed.md
  .claude-web-tasks/tasks.md
  .github/CODEOWNERS
  .github/workflows/renovate-config-validator.yml
  docs/DEPENDENCY_MANAGEMENT.md
  docs/DEPENDENCY_QUICK_REFERENCE.md
  renovate.json
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement performance monitoring system (Priority 10)
  .claude-web-tasks/completed.md
  .claude-web-tasks/tasks.md
  .performance-budgets.yml
  docs/PERFORMANCE_MONITORING.md
  docs/PERFORMANCE_MONITORING_QUICK_REFERENCE.md
  grafana/alerts.yml
  grafana/dashboards/application-performance.json
  grafana/dashboards/business-metrics.json
  grafana/dashboards/dashboards.yml
  grafana/dashboards/database-performance.json
  grafana/dashboards/system-health.json
  grafana/datasources/prometheus.yml
  grafana/docker-compose.yml
  grafana/prometheus.yml
  src/core/socket-io.ts
  src/db/db-metrics.ts
  tests/unit/core/socket-io.test.ts
  tests/unit/db/db-metrics.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement performance monitoring system (Priority 10)
  .claude-web-tasks/completed.md
  .claude-web-tasks/tasks.md
  .performance-budgets.yml
  docs/PERFORMANCE_MONITORING.md
  docs/PERFORMANCE_MONITORING_QUICK_REFERENCE.md
  grafana/alerts.yml
  grafana/dashboards/application-performance.json
  grafana/dashboards/business-metrics.json
  grafana/dashboards/dashboards.yml
  grafana/dashboards/database-performance.json
  grafana/dashboards/system-health.json
  grafana/datasources/prometheus.yml
  grafana/docker-compose.yml
  grafana/prometheus.yml
  src/core/socket-io.ts
  src/db/db-metrics.ts
  tests/unit/core/socket-io.test.ts
  tests/unit/db/backup.test.ts
  tests/unit/db/db-metrics.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: clean up .claude-web-tasks and add future enhancements
  .claude-web-tasks/completed.md
  .claude-web-tasks/issues.md
  .claude-web-tasks/updates.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: create comprehensive enterprise readiness task system
  .claude-web-tasks/.gitignore
  .claude-web-tasks/CHECKLIST.md
  .claude-web-tasks/CONTEXT.md
  .claude-web-tasks/INDEX.md
  .claude-web-tasks/ISSUES.md
  .claude-web-tasks/PROGRESS.md
  .claude-web-tasks/QUICK_START.md
  .claude-web-tasks/README.md
  .claude-web-tasks/REFERENCES.md
  .claude-web-tasks/SUMMARY.txt
  .claude-web-tasks/phase-1-ui-component-system.md
  .claude-web-tasks/phase-2-functional-features.md
  .claude-web-tasks/priorities-7-10-summary.md
  .claude-web-tasks/priority-5-feature-flags.md
  .claude-web-tasks/priority-6-context7-mcp.md
  .claude-web-tasks/tasks.md
  .mcp.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update tasks.md with current project status and context
  .claude-web-tasks/tasks.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: install shadcn/ui and setup toast system (Phase 1 Tasks 1.1-1.2)
  client/components.json
  client/src/App.tsx
  client/src/components/ui/badge.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/input.tsx
  client/src/components/ui/label.tsx
  client/src/components/ui/sonner.tsx
  client/src/hooks/useWebSocket.ts
  client/src/lib/utils.ts
  client/src/styles/globals.css
  client/tailwind.config.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add shadcn/ui dependencies to package.json
  client/package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Phase 1 - UI Component System (Tasks 1.3-1.6)
  .claude-web-tasks/tasks.md
  client/src/components/Dashboard/AlertFeed.tsx
  client/src/components/Dashboard/ContainerGrid.tsx
  client/src/components/Layout/Header.tsx
  client/src/components/Layout/Sidebar.tsx
  client/src/components/ui/switch.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/Settings.tsx
  client/src/styles/globals.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Phase 2 - Functional Features
  .claude-web-tasks/tasks.md
  client/package.json
  client/src/App.tsx
  client/src/components/Dashboard/ContainerGrid.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/ui/alert-dialog.tsx
  client/src/components/ui/select.tsx
  client/src/lib/api-client.ts
  client/src/pages/Settings.tsx
  client/tailwind.config.js
  client/vite.config.ts
  pnpm-lock.yaml
  src/core/routes-initializer.ts
  src/core/service-container.ts
  src/db/schema.ts
  src/routes/docker.ts
  src/routes/settings.ts
  src/services/monitoring/docker-monitor.ts
  src/services/settings/settings-service.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Phase 3 - Code Quality
  .claude-web-tasks/tasks.md
  client/src/hooks/useWebSocket.ts
  client/src/lib/api-client.ts
  client/src/lib/config.ts
  src/core/service-container.ts
  src/services/remediation/auto-remediation.ts
  src/services/security/orchestrator.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Phase 4 - UI/UX Polish
  .claude-web-tasks/tasks.md
  client/src/components/Dashboard/AlertFeed.tsx
  client/src/components/Dashboard/ContainerGrid.tsx
  client/src/components/Dashboard/DashboardSkeleton.tsx
  client/src/components/Dashboard/PoolStatus.tsx
  client/src/components/Settings/SettingsSkeleton.tsx
  client/src/components/ui/empty-state.tsx
  client/src/components/ui/skeleton.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/Settings.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Phase 5 - Developer Experience
  .claude-web-tasks/tasks.md
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  client/src/lib/utils.ts
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete Phase 6 - Feature Completion
  .claude-web-tasks/tasks.md
  client/src/App.tsx
  client/src/components/Dashboard/QuickActions.tsx
  client/src/lib/api-client.ts
  client/src/pages/Alerts.tsx
  client/src/pages/FeatureFlags.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: Phase 7 testing infrastructure (Day 1 complete) - 37 new tests
  .claude-web-tasks/PHASE-7-PROGRESS.md
  .claude-web-tasks/phase-7-testing.md
  client/package.json
  client/src/components/ErrorBoundary.test.tsx
  client/src/components/ui/button.test.tsx
  client/src/components/ui/card.test.tsx
  client/src/test/setup.ts
  client/src/test/utils.tsx
  client/vitest.config.ts
  pnpm-lock.yaml
  tests/unit/routes/feature-flags.test.ts
  tests/unit/routes/settings.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

test: remove settings test due to path resolution issue
  tests/unit/routes/settings.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests

feat: complete Phase 7 - Testing (100% complete)
  .claude-web-tasks/PHASE-7-COMPLETE.md
  .claude-web-tasks/phase-7-testing.md
  client/src/components/Dashboard/QuickActions.test.tsx
  client/src/components/ui/switch.test.tsx
  tests/unit/routes/zfs.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: Phase 8 performance optimization - 60% bundle reduction
  .claude-web-tasks/PHASE-8-COMPLETE.md
  .claude-web-tasks/phase-8-performance.md
  client/package.json
  client/src/App.tsx
  client/src/components/Dashboard/ContainerGrid.tsx
  client/src/components/Dashboard/PoolStatus.tsx
  client/src/components/Dashboard/SystemMetrics.tsx
  client/src/components/LoadingFallback.tsx
  client/src/lib/performance.ts
  client/src/main.tsx
  client/src/pages/Alerts.tsx
  client/src/pages/Dashboard.tsx
  client/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests, biome format --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: apply biome auto-fixes for Phase 8
  client/src/App.tsx
  client/src/components/ErrorBoundary.test.tsx
  client/src/pages/Alerts.tsx
  client/src/pages/Dashboard.tsx
  client/src/test/utils.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, jest --bail --findRelatedTests --passWithNoTests

chore: remove completed phase documentation files
  .claude-web-tasks/CHECKLIST.md
  .claude-web-tasks/CONTEXT.md
  .claude-web-tasks/ISSUES.md
  .claude-web-tasks/PHASE-7-COMPLETE.md
  .claude-web-tasks/PHASE-7-PROGRESS.md
  .claude-web-tasks/PHASE-8-COMPLETE.md
  .claude-web-tasks/PROGRESS.md
  .claude-web-tasks/README.md
  .claude-web-tasks/REFERENCES.md
  .claude-web-tasks/phase-1-ui-component-system.md
  .claude-web-tasks/phase-2-functional-features.md
  .claude-web-tasks/phase-7-testing.md
  .claude-web-tasks/phase-8-performance.md
  .claude-web-tasks/tasks.md
  .claude-web-tasks/updates.md
Due: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true
